<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleAbout.css">
    <title>TaskHero</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo.jpg">
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="aboutCard">
                <h1>Who are we?</h1>
                <p>TaskHero was made by a group of engineers from Singidunum University</p>
                <p>because they tried to organize their study and work time. People who </p>
                <p>have seen us using it wanted to try it out themselves. Since then we</p>
                <p>grew a lot, and now we are the #1 Task management app on the Internet!</p>
                <p>If you want to join our team, contact us!</p>
            </div>
        </div>
        <div class="footer">
            <footer>
                <p>&copy; 2024. All rights reserved.</p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>
