<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleContact.css">
    <title>TaskHero</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo.jpg">
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="contactCard">
                

            <h1>Contact</h1>
            <div class="contact-parent">
                <div id="contact-child1">
                    <h3>Location</h3>
                    
                    Kneza Milosa 74 <br>
                    11000 BELGRADE <br>
                    <h3>Telephone</h3>
                    +381/62-843-442 <br>
                    +381/11-332-159 <br>
                    <h3>E-mail</h3>
                    <a href="mailto:taskhero@gmail.com">taskhero@gmail.com</a> <br>
                    <a href="mailto:office.taskhero@gmail.com">office.taskhero@gmail.com</a>
                    <h3>Social media</h3>
                    Instagram: @taskhero <br>
                    Facebook: TaskHero
                </div>
                <div id="contact-child2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2830.96922699257!2d20.452923615535376!3d44.801815779098696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1580177363492!5m2!1sen!2srs" 
                    width="300" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>



            </div>
        </div>
        <div class="footer">
            <footer>
                <p>&copy; 2024. All rights reserved.</p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>
